Default Docker ignore file for .NET projects
See https://www.google.com/search?q=https://docs.docker.com/engine/reference/builder/%23dockerignore-file
Exclude common dev tools and configuration
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/.proj.user
**/.dbmdl
**/.jfm
**/azds.yaml
**/bin
**/charts
*/docker-compose
*/Dockerfile
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md

Allowlist specific files in .git folder
!/.gitignore
!.git/HEAD
!.git/config
!.git/packed-refs
!.git/refs/heads/

Exclude specific deployment artifacts
certs/
www/
sql_data/